<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="styles/app.css">
  </head>
  <body class="background-color">
    <h1>OMG HAI THIS IS AN APP WHERE YOU CAN SUBMIT PUNS YASSSSSSSS</h1>
    <h3>amahhhhhhzing</h3>
    <h3>YASSSSSSSSSS</h3>
    <div>Submit your pun here pls. With kitties.</div>
    <div>
      <form action="/" method="post">
        <input type="text" name="pun_category"></input>
        <input type="text" name="pun"></input>
        <p>
          <input type="radio" name="framework"></input> angular 2
        </p>
        <p>
          <input type="radio" name="framework"></input> vue.js
        </p>
        <p>
          <input type="radio" name="framework"></input> react.js
        </p>
        <input type="submit" class="font-size-16"></input>
      </form>
    </div>
  </body>
</html>
